body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

.container {
  /* width: 100%; */
  /* max-width: 1158px; */
}

/* =================HEADER==================== */
/* HEADER SECTION */
.header-section {
  padding: 24px 15px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.nav-logo-link {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav-studio-link {
  color: #2e2f42;
}

.header-navigation {
  display: flex;
  gap: 76px;
}

.header-navigation-list {
  display: flex;
  gap: 40px;
}
.nav-link {
  color: #2e2f42;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.header-address {
  font-style: normal;
}

.header-address-list {
  display: flex;
  gap: 40px;
  /* justify-content: flex-end; */
}

.address-link {
  color: currentColor;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ================MAIN================= */
/*MAIN-SECTION*/
/* знайти спосіб центрувати заголовок-1: знайшла за допомогою марджин: 0 авто */
.hero-container {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}

.hero {
  background-color: #2e2f42;
}

.hero-title {
  color: #ffffff;
  font-family: inherit;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto;
  max-width: 496px;
  margin-bottom: 48px;
}
.hero-btn {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;

  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* .hero {
  background-color: #2e2f42;
} */

/*SECTION 2 - hidden title*/
/* visually hidden не пропускає автоперевірка  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.pupose-section {
}

.purpose-container {
  padding: 120px 15px;
}

.list-purpose-container {
  display: flex;
}
.our-purpose-list {
  display: flex;
  gap: 24px;
  flex-basis: calc((100% - 72) / 4);
}
.purpose-item {
  font-family: inherit;
  color: currentColor;
}
.strategy-item {
}
.purpose-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.purpose-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.punctuality-item {
}
.diligence-item {
}
.technologies-item {
}

/*SECTION 3 - OUR TEAM*/

.oteam {
  background-color: #f4f4fd;
  padding: 120px 156px;
}

.oteam-container {
  display: flex;
}

.oteam-main-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.oteam-list {
  display: flex;
  gap: 24px;
  flex-basis: calc((100% - 72px) / 4);
}

.oteam-item {
  background-color: #ffffff;
}

.oteam-loved {
}

.oteam-description {
  padding: 32px 0;
  text-align: center;
}
.our-team-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.our-team-text {
  color: currentColor;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* SECTION 4 */
.oportfolio-section {
  padding: 120px 156px;
}
.oportfolio-main-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.oportfolio-list {
}
.oportfolio-loved {
}

.oportfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 32px;
  margin-bottom: 8px;
}

.oportfolio-main-text {
  color: currentColor;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

/* FOOTER SECTOIN */

.foot-section {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 156px;
}

.foot-logo-link {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.logo-lightcolor {
  color: #f4f4fd;
}

.foot-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
